<section id="actions">
    <div class="row">
        <div class="4u 12u(normal) 12u(narrow) tab-img">
            <div style="
                background-image: url('/assets/images/actionplan.jpg');
                background-size: cover;
                background-position: center center;
                min-height: 500px;
            "></div>
        </div>
        <div class="8u 12u(normal) 12u(narrow) tab-text" id="horizontalTab">
            <h3>Action Plan</h3>
            <ul>
                <li>
                    <a href="#tab-1"> Overview </a>
                </li>
                <li>
                    <a href="#tab-2"> Technologies and Operation </a>
                </li>
                <li>
                    <a href="#tab-3"> R&amp;D and Demonstration </a>
                </li>
                <li>
                    <a href="#tab-4"> Evaluation and Financing </a>
                </li>
            </ul>
            <div id="tab-1"> The Action Plan will combine resources from academic institutions, research institutes, state-owned businesses
                and the industries. The precursor policies are Two-year Plan for Solar Energy, Countrywide Green Energy Rooftops,
                Four-year Plan for Wind Energy, and Green Energy Technology Forward-thinking Infrastructure. The Action Plan
                aims to boost employment through inducing domestic demand, and at the same time, the green innovation industrial
                ecosystem behind the conception of Shalun Smart Green Energy Science City, seeks to raise Taiwan's competitiveness
                in the green energy industry, such that we may stand shoulder to shoulder with the best in the international
                markets. </div>
            <div id="tab-2"> public constructions required for the R&amp;D and industry development of green technology, including reinforcing
                solar PV R&amp;D, and the construction of underwater foundations and wharfs for wind farms.
            </div>
            <div id="tab-3"> Build "Shalun Smart Green Energy Science City" on the border of Kaohsiung and Tainan, and establish a joint research
                center to further foster technologies of Technology Readiness Level(TRL) 4-6. There will be demonstration
                fields for technologies of TRL 6-8. Together with good quality of living environment, capital investments
                and other services, this Platform will ameliorate the overall environment of green energy technology development
                while facilitating the commercialization of R&amp;D results. </div>
            <div id="tab-4"> Create green business opportunities through the green energy technology commercialization verification platform,
                regional energy storage technology demo and verification, and third-party verification center for renewable
                energy investment and financing. It will create a win-win situation for both corporations and financial institutions,
                accelerating the deployment of renewable energy nationwide. </div>

        </div>
    </div>
</section>

<style>
    #actions .tab-text {
        padding: 2rem;
        max-width: 900px;
    }

    #actions .tab-img {
        padding: 0px;
    }

    #actions .tab-img img {
        width: 100%;
    }

    #actions .row {
        margin: -1px;
    }

    #actions {
        margin: 0rem;
        background: white;
    }
</style>

<script>
    $('#horizontalTab').responsiveTabs({
        startCollapsed: 'accordion'
    });
</script>