<section id="resource">
    <div class="row">
        <div class="4u 12u(normal) 12u(narrow) tab-img">
            <div style="
                background-image: url('/assets/images/startup.jpg');
                background-size: cover;
                background-position: center center;
                min-height: 520px;
            "></div>
        </div>
        <div class="8u 12u(normal) 12u(narrow) tab-text" id="horizontalTab2">
            <h3>Request for resources</h3>
            <ul>
                <li>
                    <a href="#tab2-1"> Corporate Consultation </a>
                </li>
                <li>
                    <a href="#tab2-2"> Entrepreneurial Angel Project </a>
                </li>
                <li>
                    <a href="#tab2-3"> Taiwan Venture Capital Association </a>
                </li>
            </ul>
            <div id="tab2-1">
                <strong>Website: </strong>
                <a href="https://assist.nat.gov.tw/GIP/wSite/mp?mp=2 ">https://assist.nat.gov.tw/</a>
                <br>
                <strong>Service hotline: </strong>
                <a href="tel:+886-0800-000-257">+886-0800-000-257</a>
                <br> For anyone in the manufacturing and service industries, research institutes, general public and individual
                inventors, the website provides the following services: information disclosure of corporate rewards and assistances,
                online applications and progress inquiries, governmental cross-agency verification and audits, MIT Smile
                logo verification, and project inquiries and consultation pertaining to intellectual property in a section
                dedicated to the patent commercialization. It also helps to assess how well corporations manage their intellectual
                properties and their potential in patent commercialization.
            </div>
            <div id="tab2-2">
                <strong>Website: </strong>
                <a href="http://www.angel885.org.tw/index.php">http://www.angel885.org.tw/</a>
                <br>
                <strong>Service hotline: </strong>
                <a href="tel:+886-2-25778518">+886-2-25778518 #890, 344</a>
                <br> 
                To optimize market mechanisms for startups and improve angel investment environment in Taiwan, the National
                Development Fund co-invests with angel investors to provide initial fund for startups. Past experiences of
                angel investors can also serve to provide further consultations and as networking resources.

            </div>
            <div id="tab2-3">
                <strong>Website: </strong>
                <a href="http://www.tvca.org.tw/">http://www.tvca.org.tw/</a>
                <br>
                <strong>Service hotline: </strong>
                <a href="tel:+886-2-25450075">+886-2-25450075</a>
                <br> 
                The information center of Taiwan Venture Capital Association not only provides members with related industrial intel, but
                hosts match-making occasions periodically, introducing potential business opportunities to members, and has
                since facilitated many successful cooperations among ventures and enterprises.
            </div>
        </div>
    </div>
</section>

<style>
    #resource .tab-text {
        padding: 2rem;
        max-width: 900px;
    }

    #resource .tab-img {
        padding: 0px;
    }

    #resource .tab-img img {
        width: 100%;
    }

    #resource .row {
        margin: -1px;
    }

    #resource {
        margin: 0rem;
        background: white;
    }
</style>

<script>
    $('#horizontalTab2').responsiveTabs({
        startCollapsed: 'accordion'
    });
</script>